*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #f1c122, #eb6641);
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
}

header{
    font-size:1.5rem;

}

header, form {
    min-height:20vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: #fff;
}

form button{
    color: #eb6641;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background-color: #eb6641;
    color: #fff;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
min-width: 30%;
list-style: none;
}

.todo {
    margin: 0.5rem;
    background: #fff;
    font-size: 1.5rem;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.filter-todo {
    padding: 1rem;
}
.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: #eb6641;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: rgb(73, 204, 73);
}
