@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #f1c122, #eb6641);
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
}

header{
    font-size:1.5rem !important;

}
header, form {
    min-height:20vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: #fff;
}

form button{
    color: #eb6641;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form button:hover{
    background-color: #eb6641;
    color: #fff;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}